anyio==3.4.0; python_version >= "3.6" and python_full_version >= "3.6.2"
asgiref==3.4.1; python_version >= "3.6"
click==8.0.3; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.4; sys_platform == "win32" and python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.9" and python_version < "4.0" and (python_version >= "3.9" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0") and (python_version >= "3.9" and python_full_version < "3.0.0" and platform_system == "Windows" and python_version < "4.0" or platform_system == "Windows" and python_version >= "3.9" and python_version < "4.0" and python_full_version >= "3.5.0")
commonmark==0.9.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.9" and python_version < "4.0"
fastapi==0.70.1; python_full_version >= "3.6.1"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.6"
httptools==0.3.0; python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
pretty-errors==1.2.25
pydantic==2.4.0; python_full_version >= "3.6.1"
pygments==2.11.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.9" and python_version < "4.0"
python-dotenv==0.19.2; python_version >= "3.5"
pyyaml==6.0; python_version >= "3.6"
rich==10.16.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
sniffio==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.2"
starlette==0.16.0; python_version >= "3.6" and python_full_version >= "3.6.1"
typer==0.4.0; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.0.1; python_version >= "3.6" and python_full_version >= "3.6.1"
uvicorn==0.16.0
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
wakeonlan==2.1.0; python_version >= "3.9" and python_version < "4.0"
watchgod==0.7; python_version >= "3.5"
websockets==10.1; python_version >= "3.7"
wolproxypycli==0.1.2; python_version >= "3.9" and python_version < "4.0"
